<!DOCTYPE html>
<html>
<head>
  <title>Momentum Clone</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<main class="container">
  <img src="<%= background %>">
  <div class="greeting">Good evening, Irwin</div>
</main>
</body>
</html>