<!DOCTYPE html>
<html>
<head>
  <title>Momentum Clone</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/scripts/moment.js" defer></script>
  <script type="text/javascript" src="/scripts/main.js" defer></script>
</head>
<body>
<main class="container">
  <img class="wallpaper" src="<%= background %>">
  <div class="time"></div>
  <div class="greeting">Good <span class="time-of-day"></span>, Irwin</div>
  <div class="button">
    <button class="change-bg">Refresh</button>
  </div>
</main>
</body>
</html>